data/
results/
temp/delta_p.p
temp/iekfnets.p
temp/normalize_factors.p
src/__pycache__
RAW_OXTS_KITTI/00/2011_10_03_drive_0027_extract/oxts/dataformat.txt
RAW_OXTS_KITTI/00/2011_10_03_drive_0027_extract/oxts/timestamps.txt
RAW_OXTS_KITTI/01/2011_10_03_drive_0042_extract/oxts/dataformat.txt
RAW_OXTS_KITTI/01/2011_10_03_drive_0042_extract/oxts/timestamps.txt
RAW_OXTS_KITTI/02/2011_10_03_drive_0034_extract/oxts/dataformat.txt
RAW_OXTS_KITTI/02/2011_10_03_drive_0034_extract/oxts/timestamps.txt
RAW_OXTS_KITTI/04/2011_09_30_drive_0016_extract/oxts/dataformat.txt
RAW_OXTS_KITTI/04/2011_09_30_drive_0016_extract/oxts/timestamps.txt
RAW_OXTS_KITTI/05/2011_09_30_drive_0018_extract/oxts/dataformat.txt
RAW_OXTS_KITTI/05/2011_09_30_drive_0018_extract/oxts/timestamps.txt
RAW_OXTS_KITTI/06/2011_09_30_drive_0020_extract/oxts/dataformat.txt
RAW_OXTS_KITTI/06/2011_09_30_drive_0020_extract/oxts/timestamps.txt
RAW_OXTS_KITTI/07/2011_09_30_drive_0027_extract/oxts/dataformat.txt
RAW_OXTS_KITTI/07/2011_09_30_drive_0027_extract/oxts/timestamps.txt
RAW_OXTS_KITTI/08/2011_09_30_drive_0028_extract/oxts/dataformat.txt
RAW_OXTS_KITTI/08/2011_09_30_drive_0028_extract/oxts/timestamps.txt
RAW_OXTS_KITTI/09/2011_09_30_drive_0033_extract/oxts/dataformat.txt
RAW_OXTS_KITTI/09/2011_09_30_drive_0033_extract/oxts/timestamps.txt
RAW_OXTS_KITTI/10/2011_09_30_drive_0034_extract/oxts/dataformat.txt
RAW_OXTS_KITTI/10/2011_09_30_drive_0034_extract/oxts/timestamps.txt
temp/iekfnets_2Conv/iekfnets.p
devkit_odometry/devkit/readme.txt
devkit_odometry/devkit/cpp/evaluate_odometry.cpp
devkit_odometry/devkit/cpp/mail.h
devkit_odometry/devkit/cpp/matrix.cpp
devkit_odometry/devkit/cpp/matrix.h
experiments/data_experiments/2011_09_30_drive_0034_extract.p
experiments/results_experiments/2011_09_30_drive_0034_extract_filter.p
experiments/results_experiments/2011_09_30_drive_0034_extract/errors.png
experiments/results_experiments/2011_09_30_drive_0034_extract/imu.png
experiments/results_experiments/2011_09_30_drive_0034_extract/measurements_covs.png
experiments/results_experiments/2011_09_30_drive_0034_extract/orientation_bias.png
experiments/results_experiments/2011_09_30_drive_0034_extract/position_velocity.png
experiments/results_experiments/2011_09_30_drive_0034_extract/position_xy_aligned.png
experiments/results_experiments/2011_09_30_drive_0034_extract/position_xy.png
experiments/temp_experiments/normalize_factors.p
data_prepared/2011_09_30_drive_0016_extract.p
data_prepared/2011_09_30_drive_0018_extract.p
data_prepared/2011_09_30_drive_0020_extract.p
data_prepared/2011_09_30_drive_0027_extract.p
data_prepared/2011_09_30_drive_0028_extract.p
data_prepared/2011_09_30_drive_0033_extract.p
data_prepared/2011_09_30_drive_0034_extract.p
data_prepared/2011_10_03_drive_0027_extract.p
data_prepared/2011_10_03_drive_0034_extract.p
data_prepared/2011_10_03_drive_0042_extract.p
RAW_OXTS_KITTI.7z
